
textarea {
    resize: both;
    height: 150px;
    width: 350px
}
h1 {
    word-wrap: break-word;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 500px;
    min-width: 500px
}


div {
    word-wrap: normal;
    flex-direction: row;
    flex-wrap: wrap

}