/* .App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body { 
  background: url("../src/images/beach-blur-boardwalk.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.displayText {
  font-family: 'Quicksand';
  color: black;
  background: rgba(225, 225, 225, 0.3);
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  border-radius: 2%;
}

.venttext {
  overflow-wrap: break-word;
}

/* Desktop */
@media screen and (min-width: 980px) and (max-width: 1024px){
  .responsive-image{
    background-image: u("../src/images/beach-blur-boardwalk_350.jpg") no-repeat center center fixed;   }
}

/* Tablet */
@media screen and (min-width: 760px) and (max-width: 980px){
.responsive-image{
    background-image: u("../src/images/beach-blur-boardwalk_980.jpg") no-repeat center center fixed; 
}
}

/* Mobile HD */
@media screen and (min-width: 350px) and (max-width: 760px){
.responsive-image{
    background-image: u("../src/images/beach-blur-boardwalk_350.jpg") no-repeat center center fixed; 
}
}

/* Mobile LD */
@media screen and (max-width: 350px){
.responsive-image{
    background-image: u("../src/images/beach-blur-boardwalk_350.jpg") no-repeat center center fixed; 
}
} 
